{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Calculateur de prix</h1>
        <div id="errors"></div>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
